body {
    background-image: linear-gradient(0deg, #50ffd8, #ff80a2);
    height: 800px;
}

.container {
    position: relative;
    margin: 0 auto;
    top: 15px;
    width: 450px;
    perspective: 900px;
}

#frames {
    width: 44px;
    transform-style: preserve-3d;
   /* transform: rotateX(-10deg) rotateY(30deg) rotateZ(0deg)
    translate3d(230px, 70px, 0px);*/
}


.strip{
    transform-style: preserve-3d;
    transform-origin: center;
    animation: spin 20s infinite linear;
}

.strip div{
    position: absolute;
    background: url(img1.jpg);
    background-size: 638px;
    border: solid rgb(145, 87, 0);
    border-width: thin 0;
    height: 320px;
    width: 60px;
    opacity: 1;
}

.strip div:after{
    content: '';
    position: absolute;
    width: 66px;
    bottom: -40px;
    box-shadow: 0px 20px 40px 10px rgba(0,0,0,.3);
}

.strip .s {
    background-position: 913px;
    transform: rotateY(0deg) translateZ(200px);
}

.strip .s1 {
    background-position: 860px;
    transform: rotateY(15deg) translateZ(200px);
}
.strip .s2 {
    background-position: 807px;
    transform: rotateY(30deg) translateZ(200px);
}
.strip .s3 {
    background-position: 754px;
    transform: rotateY(45deg) translateZ(200px);
}
.strip .s4 {
    background-position: 701px;
    transform: rotateY(60deg) translateZ(200px);
}
.strip .s5 {
    background-position: 640px;
    transform: rotateY(75deg) translateZ(200px);
}
.strip .s6 {
    background-position: 595px;
    transform: rotateY(90deg) translateZ(200px);
}
.strip .s7 {
    background-position: 542px;
    transform: rotateY(105deg) translateZ(200px);
}
.strip .s8 {
    background-position: 490px;
    transform: rotateY(120deg) translateZ(200px);
}
.strip .s9 {
    background-position: 437px;
    transform: rotateY(135deg) translateZ(200px);
}
.strip .s10 {
    background-position: 384px;
    transform: rotateY(150deg) translateZ(200px);
}
.strip .s11 {
    background-position: 331px;
    transform: rotateY(165deg) translateZ(200px);
}
.strip .s12 {
    background-position: 278px;
    transform: rotateY(180deg) translateZ(200px);
}
.strip .s13 {
    background-position: 225px;
    transform: rotateY(195deg) translateZ(200px);
}
.strip .s14 {
    background-position: 172px;
    transform: rotateY(210deg) translateZ(200px);
}
.strip .s15 {
    background-position: 119px;
    transform: rotateY(225deg) translateZ(200px);
}
.strip .s16 {
    background-position: 66px;
    transform: rotateY(240deg) translateZ(200px);
}
.strip .s17 {
    background-position: 13px;
    transform: rotateY(255deg) translateZ(200px);
}
.strip .s18 {
    background-position: -40px;
    transform: rotateY(270deg) translateZ(200px);
}
.strip .s19 {
    background-position: -93px;
    transform: rotateY(285deg) translateZ(200px);
}
.strip .s20 {
    background-position: -146px;
    transform: rotateY(300deg) translateZ(200px);
}
.strip .s21 {
    background-position: -199px;
    transform: rotateY(315deg) translateZ(200px);
}
.strip .s22 {
    background-position: -252px;
    transform: rotateY(330deg) translateZ(200px);
}
.strip .s23 {
    background-position: -305px;
    transform: rotateY(345deg) translateZ(200px);
}

@keyframes spin{
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-180deg);
    }
}


/* ========================= MŮJ POKUS ===========================*/
